/**************/
/* CSS REMEDY */
/**************/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
	font-family: CooperBlack;
	src: url(Cooper-Black-Regular.ttf);
}

:root {
	--color-text: #111;
	--color-background: #F5EBDB;
	--color-buttonborder: #d62300;
	--color-brown: rgb(80, 35, 20);
}

a {
	text-decoration: none;
}

h2 {
	font-family: CooperBlack;
}

h3 {
	font-family: CooperBlack;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

/*HEADER - NAV */

header {
	position: relative;
}

header>nav {
	display: none;
}

header>section:first-of-type {
	display: grid;
	grid-template-columns: 1fr 0.25fr 1fr;
	padding: 0.5em;
}

header section:first-of-type a {
	font-family: CooperBlack;
}

header>section:first-of-type section {
	width: 100%;
	margin: auto auto auto 0;
}

header>section:first-of-type section img {
	width: 1.5em;
	margin-right: 2em;
}

header>section:first-of-type section a {
	display: none;
}

header>section:first-of-type>a[href='/'] {
	margin: auto;
}

header>section:first-of-type>a[href='#'] {
	margin: auto 0 auto auto;
	color: var(--color-buttonborder);
	text-decoration: none;
	border: .1em solid var(--color-buttonborder);
	border-radius: 8em;
	padding: .4em .8em;
	font-weight: bold;
}

header>section:first-of-type a img {
	width: 4em;
}

header>nav {
	display: block;
	position: absolute;
	left: 0;
	translate: -100% 0%;
	transition: translate .3s;
	width: 100%;
	height: 92vh;
	background-color: var(--color-background);

}

header>nav.toggleMenu {
	translate: 0% 0%;
}

header>section:nth-of-type(3) {
	background-color: #111;
}

body header section:nth-of-type(2) {
	padding: 0 1em;
	height: 6em;
	background-color: rgb(80, 35, 20);
	display: flex;
	align-items: end;
}

body header h1 {
	color: white;
	font-size: .8em;
	margin-bottom: 1.4em;
}

body header p {
	color: white;
	border: .1em solid white;
	border-radius: 8em;
	padding: .4em .8em;
	font-weight: bold;
	margin: 1em;
	font-size: .8em;
}

header section a {
	color: var(--color-brown);
}

nav a {
	color: var(--color-brown);
}


/*INGEKLAPTE MENU*/

nav ul article:first-of-type {
	border-bottom: 1px solid var(--color-brown);
}

header nav ul {
	display: flex;
	justify-content: flex-start;
	align-items: left;
	flex-direction: column;
}

header nav ul li {
	margin: 1em;
	color: var(--color-brown);
}


@media (min-width: 1025px) {
	header>section:first-of-type section {
		display: flex;
		gap: 1em;
	}

	header>section:first-of-type section a {
		display: inline-block;
	}

	header>nav {
		width: 30%;
	}

		header>section:first-of-type>a[href='#'] {
			margin: auto 0 auto auto;
			color: white;
			background-color: var(--color-buttonborder);
			text-decoration: none;
			border: .1em solid var(--color-buttonborder);
			border-radius: 8em;
			padding: .4em .8em;
		}
}

/* BODY */

body {
	background-color: var(--color-background);
}



/* CARDS */

.alt {
	display: none;
}

main ul {
	display: grid;
	grid-template-columns: 1fr;
}

main li {
	margin: 1em 1.5em;
	background-color: white;
	border-radius: 1em;
}

main h2 {
	color: var(--color-brown);
	font-size: .8em;
	margin: 1em;

}

main p {
	color: var(--color-brown);
	font-size: .8em;
	margin: 0 1em;
}

main img {
	width: 100%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

main button {
	color: var(--color-buttonborder);
	border: .1em solid var(--color-buttonborder);
	border-radius: 8em;
	padding: .4em .8em;
	font-weight: bold;
	background-color: white;
	margin: 1em;
	font-size: .8em;
}


@media (min-width: 1025px) {

	main ul {
		grid-template-columns: 1fr 1fr;
	}


}

@media (min-width: 1200px) {

	main ul {
		grid-template-columns: 1fr 1fr;
	}

	main section:first-of-type {
		width: 75em;
		margin: 0 auto;
		margin-top: 5em;
		margin-bottom: 5em;

	}

}



/* MOCKUP */

@media (max-width: 809px) {

main section:nth-of-type(2) {
	background-color: rgb(239, 225, 204);
	padding: 2em;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

main section:nth-of-type(2) article h2 {
	font-size: 2.5em;
	color: var(--color-brown);
}

main section:nth-of-type(2) article p {
	text-align: center;
	margin-top: 1.4em;
	font-size: 1.1em;
}

main section:nth-of-type(2) img {
	width: 50%;
}

main section:nth-of-type(2) figure img {
	width: 50%;
}



}

@media (min-width: 809px) {

	main section:nth-of-type(2) {
		background: linear-gradient(0deg, rgb(239, 225, 204) 0%, rgb(239, 225, 204) 80%, var(--color-background) 80%, var(--color-background) 100%);
		background-color: rgb(239, 225, 204);
		padding: 2em;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: left;
		flex-direction: row;
	}

	main section article h2:last-of-type {
		text-align: left;	
	}

	main section article p:last-of-type {
		text-align: left;
	}

	main section:nth-of-type(2) figure {
		max-width: 30em;
		text-align: left;
	}

	main section:nth-of-type(2) article:first-of-type img {
		width: 12em;
	}


	main section:nth-of-type(2) figure {
		order: -1;
		min-width: 32em;
		/* margin-left: 35em; */
	}

	main section:nth-of-type(2) figure img {
		width: 100%;
	}

	main ul {
		grid-template-columns: 1fr 1fr;
	}
}

/* FOOTER */

@media (max-width: 1200px) {

	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: var(--color-background);
		position: fixed;
		width: 100%;
		z-index: 3;
	}

	footer nav ul {
		text-align: center;
		height: 4em;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	footer nav ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	footer nav ul img {
		width: 1em;
		height: 1.5em;
		margin: 1 0em;
	}

	footer section:last-of-type {
		display: none;
	}

	footer nav ul li:nth-of-type(1) {
		width: 1.4em;
	}

	footer nav ul li:nth-of-type(2) img {
		width: 1.4em;
	}

	footer nav ul li:nth-of-type(3) img {
		width: 1.2em;
	}

	footer nav ul li:nth-of-type(4) img {
		width: 1.4em;
	}

	footer nav ul li:nth-of-type(5) img {
		width: 1.4em;
	}

	.Buttonred {
		display: none;
	}

	.remove {
		display: none;
	}

	.add {
		display: block;
	}

}

@media (min-width: 1200px) {

	footer {
		background-color: rgb(43, 2, 0);
		position: relative;
	}

	footer nav {
		display: none;
	}

	footer section:last-of-type {
		color: var(--color-background);
		padding: 5em;
	}

	footer section ul:last-of-type {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}

	footer section article:first-of-type {
		margin: 0 3em;
		margin-bottom: 3em;
		border-bottom: 1px solid rgb(215, 199, 181);
	}

	footer section article:last-of-type {
		margin-left: 3em;
	}

	footer section ul h3 {
		margin-top: 3em;
	}

	footer p:last-of-type {
		margin-top: 1em;
		font-size: .8em;
		color: var(--color-background);
	}

	.Mockup-text {
		max-width: 40%;
	}

	
	

}